body {
	background-color: rgb(234, 234, 234);
}

.logo {
    margin: auto;
/*	border: 3px solid black;*/
	text-align: center;
	visibility: hidden;
}

.titles {
	margin: auto;
	padding-left: 5%;
}

.titles h1.titleText {
	font-size: 35px;
	font-family: Helvetica;
	font-weight: bold;
}

.titles h2.subTitleText {
	font-size: 20px;
	font-family: Helvetica;
}

.logo a.logoText {
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	text-decoration: none;
	font-size: 35px;
}

/*.chooseCurrencyText {
	font-family: Helvetica;
	font-size: 30px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 5%;
}*/

.currencyChoice {
	display: grid;
  	grid-template-columns: auto auto auto auto auto;
  	margin-top: 10%;
  	margin-left: 5%;
  	margin-right: 5%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: Avenir;
}

.q-images {
	height: 100px;
	width: auto;
/*	border: 1px solid black;*/
	z-index: -1;
}

.q-images:hover {
	filter: blur(5px);
}

.flagChoiceText {
	z-index: 1;
	position: absolute;
	color: black;
	font-family: Avenir;
	font-size: 20px;
	margin: auto;
}